In [1]:
import pandas

In [4]:
df=pandas.read_csv("D:\\python\\Concatenated1.csv")
df

   ;Year;Month;Day;Hour;Temp;DewTemp;Pressure;WinDir;WinSpeed;Sky;Precip1;Precip6;ID
0   0;2020;1;1;0;-9999;-9999;NaN;NaN;NaN;NaN;NaN;N...
1      1;2020;1;1;3;-5;-5;NaN;NaN;NaN;NaN;NaN;NaN;NaN
2      2;2020;1;1;6;-5;-4;NaN;NaN;NaN;NaN;NaN;NaN;NaN
3      3;2020;1;1;9;-5;-2;NaN;NaN;NaN;NaN;NaN;NaN;NaN
4     4;2020;1;1;12;-6;-2;NaN;NaN;NaN;NaN;NaN;NaN;NaN
5     5;2020;1;1;15;-2;-2;NaN;NaN;NaN;NaN;NaN;NaN;NaN
6      6;2020;1;1;3;-1;-1;NaN;NaN;NaN;NaN;NaN;NaN;NaN
7      7;2020;1;1;6;-9;-9;NaN;NaN;NaN;NaN;NaN;NaN;NaN
8        8;2020;1;1;0;0;1;NaN;NaN;NaN;NaN;NaN;NaN;NaN
9      9;2020;1;1;9;-3;-3;NaN;NaN;NaN;NaN;NaN;NaN;NaN
10      10;2020;1;2;6;8;8;NaN;NaN;NaN;NaN;NaN;NaN;NaN
11     11;2020;1;2;6;-5;5;NaN;NaN;NaN;NaN;NaN;NaN;NaN
12      12;2020;1;2;9;7;7;NaN;NaN;NaN;NaN;NaN;NaN;NaN

In [7]:
import os